body{
    background-color: ;
    /* width: 100%; */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}

header{
    background-color: #f4f6fc;
}

.main-nav,
.main-wrapper{
    padding: 0.5rem 1rem;
    max-width: 1100px;
    margin: auto;
}
.main-wrapper{
    min-height: 600px;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    color: white !important;
}
.logo a{
    font-weight: bold;
}
.main-nav a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    border-bottom: 3px solid transparent;
}

.main-nav a:hover{
    border-bottom: 3px solid orangered;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#loginLink{
    background-color: rgba(255, 69, 0, 0.2);
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    color: orangered;
}



.main-section{
    /* padding: 3rem; */
    width: 70%;
    /* border: 3px solid green; */
}

/* top higlights */
.top-highlight{
    /* border: 1px solid green; */
    background: whitesmoke;
    display: flex;
    gap: 1.2rem;
    padding: 0.7rem 1rem;
    border-radius: 8px;
}
.image-wrapper{
    width: 100px;
    height: 140px;
    background-color: #333;
    border-radius: 5px;
}
.text-section{
    /* border: 1px solid red; */
}
.text-section h2{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 20px;
}

#readMore{
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid orangered;
    color: orangered;
    background-color: rgba(255, 69, 0, 0.25);
    padding: 0.2rem 0.9rem;
    border-radius: 15px;
}
#readMore:hover{
    background-color: rgba(255, 69, 0, 0.4);
}

/* items wrapper */
.items-wrapper{
    max-width: 100%;
    min-height: 200px;
    /* background-color: whitesmoke; */
    margin: 1rem 0;
    display: flex;
    /* justify-content: space-between; */
    /* border: 3px solid red; */
    /* overflow: hidden; */
    gap: 1rem;
}
.item-card{
    /* width: 130px; */
    flex-basis: 100%;
    /* border: 3px solid green; */
}
.item-image{
    width: 100%;
    height: 200px;
    background-color: #333;
    border-radius: 5px;
}

.item-image img,
.image-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.item-text{
    /* border: 1px solid red; */
}
.item-text h1,
.item-text p{
    margin: 0;
}
.item-text h1{
    font-size: 18px;
}
.item-text p{
    font-size: 12.5px;
}


/* Right section */
.right-section{
    /* border: 2px solid red; */
    padding: 0.5rem 1rem;
    width: 30%;
}


/* book preview section */
.preview-card{
    display: flex;
    gap: 1.3rem;
    background-color: whitesmoke;
    padding: 0.8rem;
    border-radius: 8px;
}
.preview-card-image{
    width: 30%;
    /* border-radius: 5px; */
    /*background-color: red;*/
}
.preview-card-image img{
    width: 100%;
    border-radius: 5px;
}
.preview-card-info{
    /* border: 3px solid black; */
    width: 70%;
}
.preview-card-info h2{
    margin: 0;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.preview-card-info p{
    margin: 0;
    margin-bottom: 0.3rem;
    font-size: 13px;
}
.preview-cta a{
    text-decoration: none;
    background-color: rgba(50, 205, 50, 0.3);
    border-radius: 15px;
    padding: 0.15rem 0.8rem;
    color: limegreen;
    font-weight: 500;
    border: 1px solid limegreen;
}
.preview-cta{
    margin: 1rem 0;
}


/* MEDIA QUERIES */
@media(max-width: 520px){
    .main-section{
        width: 100%;
    }
    .main-wrapper{
        display: block;
    }
    .items-wrapper{
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* flex-wrap: row wrap; */
    }
    .item-card{
        /* width: 50%; */
        /* flex-basis: 50%; */
    }

    /* right section */
    .right-section{
        width: 100%;
        padding: 1rem;
        margin: 2rem 0;
        background-color: whitesmoke;
        box-sizing: border-box;
    }
    .preview-summary{
        padding: 0 1.1rem;
    }
}