body{
    width: 100%;
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}

.main-nav,
.main-wrapper{
    padding: 0.5rem 1rem;
}
.main-nav{
    background-color: #f4f6fc;
    display: flex;
    justify-content: space-between;
    color: white !important;
}
.logo a{
    font-weight: bold;
}
.main-nav a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    border-bottom: 3px solid transparent;
}

.main-nav a:hover{
    border-bottom: 3px solid orangered;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#loginLink{
    background-color: rgba(255, 69, 0, 0.2);
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    color: orangered;
}

.main-wrapper{
    /* max-width: 100%; */
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.main-section{
    /* border: 1px solid black; */
    padding: 3rem;
    width: 70%;
}

.right-section{
    /* border: 1px solid green; */
    /* padding: 3rem; */
    width: 30%;
}

/* top highlight */
.top-highlight{
    max-width: 100%;
    min-height: 100px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #f5f5f5;
    display: flex;
    gap: 1rem;
}
.image-wrapper{
    width: 80px;
    height: 120px;
    background-color: #333;
    border-radius: 8px;
}

.text-section{
    /* border: 1px solid red; */
}
.text-section h2{
    margin: 0;
    font-size: 90%;
    text-transform: capitalize;
    font-weight: lighter;
}